@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

@font-face {
  font-family: 'Candara';
  src: url('/src/assets/fonts/Candara-Bold.woff') format('woff2'),
    url('/src/assets/fonts/Candara-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Candara';
  src: url('/src/assets/fonts/Candara.woff2') format('woff2'),
    url('/src/assets/fonts/Candara.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

p,
a {
  color: #393939;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Candara';
  font-weight: bold;
  text-transform: capitalize;
}

.black-heading {
  color: #393939;
  font-size: 3.2vw;
}


/* Top-navbar */


.top-bar {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(100deg, rgba(30, 189, 234, 1) 1%, rgba(194, 114, 237, 1) 47%, rgba(254, 157, 40, 1) 100%);
  padding: 10px 0 20px 0;
}

nav .row {
  flex: 1;
}

.top-bar a,
.top-bar li {
  color: #fff;
}

.top-bar a:hover,
.top-bar i:hover {
  transition: 500ms;
  transform: scale(1.2);
}

header {
  overflow-x: hidden;
}

.header ul li a,
.header ul li {
  color: #fff;
  fill: #fff;
}

ul.top-social-icon li {
  padding: 0 7px;
}

.hamburger-menu.float-left {
  display: none;
}

/* start menu-bar css */
.website-logo img.img-fluid {
  max-width: 35px;
}

.menu-bar {
  background-color: #fff;
  margin-top: -14px !important;
  border-radius: 5px;
  padding: 8px 15px;
  margin: -14px 50px 0 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.common-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}

li.nav-link a {
  position: relative;
  z-index: 99;
  padding: 22px 15px 21px 15px;
}

li.nav-link a:hover:after,
li.nav-link.active a:after {
  opacity: 1;
  visibility: visible;
  height: 4px;
  width: 100%;
  border-radius: 2px;
}

li.nav-link a:after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0px;
  height: 0;
  content: '.';
  color: transparent;
  background: rgba(30, 189, 234, 1);
  visibility: hidden;
  opacity: 0;
  z-index: -9;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  transition: all .4s;
}

li.nav-link a:hover,
li.nav-link.active a {
  color: rgba(30, 189, 234, 1);
}

.navbar-nav .nav-link.Admin {
  border: 1px solid #393939;
  border-radius: 29px;
  padding: 6px 24px;
}

li.nav-link.Admin:hover {
  background: linear-gradient(100deg, rgba(30, 189, 234, 1) 1%, rgba(194, 114, 237, 1) 47%, rgba(254, 157, 40, 1) 100%);
  transition: 500ms linear;
  border-color: #fff;
}

li.nav-link.Admin a:hover:after,
li.nav-link.Admin.active a:after {
  display: none;
}

li.nav-link.Admin:hover a {
  color: #fff;
}

.navbar-nav .nav-link,
.navbar-nav .nav-link.Admin a {
  padding: 0;
}

/* start css for banner */
.banner {
  position: relative;
}

body {
  overflow-x: hidden;
  position: relative;
}

.text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.heading {
  font-size: 6.5vw;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 0;
}

.gradient-text {
  background: linear-gradient(100deg, rgba(30, 189, 234, 1) 1%, rgba(194, 114, 237, 1) 47%, rgba(254, 157, 40, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.tagline {
  color: #fff;
  font-size: 4.2vw;
  text-transform: capitalize;
  line-height: 67px;
}

.banner p {
  font-size: 16px;
  color: #fff;
  max-width: 79%;
}

div#About_Us {
  background-image: url(/src/assets/images/about-us-bg.png);
  background-size: cover;
}

p {
  margin-bottom: 0;
  opacity: 0.8;
}

.gradient-arrow li {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}

.gradient-arrow img {
  margin-right: 10px;
}

/* Start cdd for joincontainer */
.joinChatContainer {
  background-image: url(/src/assets/images/our-AI-bg.png);
  background-size: cover;
}

.search-bar {
  border: 1px solid #393939;
  border-radius: 100px;
  padding: 6px 25px;
  max-width: 500px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px
}

.search-bar input {
  border: none;
  width: 100%;
  opacity: 0.8;
  outline: none;
}

.search-bar img {
  width: 19px;
}

.joinChatContainer .ai-img {
  width: 200px;
  height: 200px;
  background-size: cover;
  margin: auto;
  border: 10px solid #52c7ef;
  border-radius: 12px;
  box-shadow: 1px 5px 7px rgb(0 0 0 / 35%);
  cursor: pointer;
}

label.ai-img-text {
  opacity: 0.8;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  margin-top: 12px;
}

.ais-container {
  margin-bottom: 40px;
  overflow: hidden;
}

div#Our-Work {
  background-image: url(/src/assets/images/we-work-bg.png);
  background-size: cover;
}

.video {
  position: relative;
}

.video>div {
  width: 100% !important;
}

.video img {
  position: absolute;
  left: -38px;
  top: 0;
  z-index: -1;
  bottom: 0;
  margin: auto;
  width: 100%;
}

/* Start css for footer */
.footer {
  background-image: url(/src/assets/images/contact-us-bg.png);
}

.footer .black-heading {
  color: #fff;
}

.footer a {
  height: 180px;
  width: 180px;
  display: flex;
  padding: 40px;
  border-radius: 30px 0 30px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.footer a:hover {
  border-radius: 0px 30px 0px;
  transition: 500ms linear;
}

.footer a.discord {
  background-color: #8850b3;
  border: 10px solid #a465d4;
}

.footer a.fb {
  background-color: #3b5998;
  border: 10px solid #5a7ec9;
}

.footer a.telegram {
  background-color: #c02127;
  border: 10px solid #d13b41;
}

.footer a.twitter {
  background-color: #1da1f3;
  border: 10px solid #6dc7ff;
}

a#back-to-top.show {
  display: block;
}

a#back-to-top {
  background: #1da1f3;
  position: fixed;
  right: 20px;
  color: #fff;
  width: 50px;
  height: 40px;
  padding: 4px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  bottom: 20px;
  display: none;
}


/* Responsive css */

@media screen and (min-width:992px) {
  button.navbar-toggler {
    display: none;
  }
}


@media screen and (max-width:1200px) {
  li.nav-link a {
    padding: 22px 10px 21px 10px;
    font-size: 14px;
  }

  .banner p {
    max-width: 100%;
  }
}

@media screen and (max-width:991px) {
  .banner p {
    display: none;
  }

  .video>div {
    max-width: 550px;
    margin: auto;
  }

  .video img {
    display: none;
  }

  .joinChatContainer {
    background-size: contain;
  }

  .footer a {
    margin-bottom: 40px;
  }

  .about_img img {
    max-width: 70%;
  }

  #About_Us .row {
    align-items: center !important;
    flex-direction: column-reverse;
  }

  ul.navigation-links.d-flex {
    background-color: #fff;
    flex-direction: column;
    align-items: flex-end !important;
  }

  div#navbarCollapse {
    width: 100%;
    margin-top: 10px;
  }

  .menu-wrap.d-flex.align-items-center {
    flex-direction: column;
    z-index: 999;
  }

  .full-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: row-reverse;
  }

  li.nav-link a:after {
    display: none;
  }

  li.nav-link a {
    padding: 0;
  }

  .navbar-nav .nav-link {
    padding: 5px 15px;
    width: 100%;
    text-align: right;
  }

  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link.active {
    background-color: #2cb7ea;
  }

  .navbar-nav .nav-link:hover a,
  .navbar-nav .nav-link.active a {
    color: #fff;
  }

  .navbar-nav .nav-link.Admin {
    width: auto;
  }

  button.navbar-toggler {
    border: 1px solid #50a7eb;
    background-color: #2db6ea;
    padding: 10px;
    border-radius: 7px 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  span.navbar-toggler-icon {
    background-color: #fff;
    width: 22px;
    height: 2px;
    display: flex;
    margin-bottom: 4px;
    border: 1px solid #fff;
  }

  .tagline {
    line-height: normal;
  }

  .common-padding {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  p {
    font-size: 14px;
  }

  .black-heading {
    font-size: 5.2vw;
  }

}

@media screen and (max-width:767px) {
  .video>div {
    max-width: 400px;
  }
}

@media screen and (max-width:576px) {
  .website-logo img.img-fluid {
    max-width: 20px;
  }

  .menu-bar {
    border-radius: 0;
    margin: -14px 0 0 0;
  }

  button.navbar-toggler {
    padding: 7px;
  }

  span.navbar-toggler-icon {
    width: 19px;
    margin-bottom: 3px;
  }
}