.App {
  width: 100vw;
  height: 100vh;
  background: #fff;
  color: #212121;
  font-family: 'Open Sans', sans-serif;
  display: grid;
  place-items: center;
}
body {
  margin: 0%;
  padding: 0%;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

.ChatWrapper {
  width:100%;
  height:100%;
  min-height:400px;
  margin:0;
  padding:0;
  z-index: 100;
}

.background {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1117px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}

.back {
  /* position: fixed; */
  left:1em;
  top: 1em;
}

.logo-big {
  margin-left:auto;
  margin-right:auto;
  display:block;
}

.svg1 {
  margin-left: auto;
  margin-right: auto;
  display:block;
  top: 442px;
  left: 550px;
  width: 181;
  height: 34;
}

.logo-small {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-left:auto;
  margin-right:auto;
  display:block;
  width: 50px;
  height:50px;
  border-radius: 100%;
  box-shadow: 0 0 0 4px lightgray;
}

.ai-img { 
  border-radius: 18%;
  width: 140px;
  height: 160px;
  object-fit: cover;
}

.ai-img:hover {
  opacity: .5;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}



.joinChatContainer {
  flex-direction: column;
  text-align: center;
  vertical-align: middle;
  width:100%;
  height:100%;
  position:absolute;
}

.joinChatContainer input {
  width: 26em;
  height: 1em;
  border: 2px solid #ccc;
  border-radius: 2em;
  padding: 1em;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;}

.joinChatContainer button {
  width: 1.5em;
  height: 1.5em;
  border: none;
  padding: 0;
  background-color: rgba(0,0,0,0);
  background-image: url("./ArrowRight.svg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  position:relative;
  left:-2.25em;
}

.TalkingTo {
  top: 1.5em;
  position: absolute;
  width: 100%;
  text-align:center;
}

.chat-window {
  position: absolute;
  top: 8%;
  width: 80%;
  height: 80%;
  min-height:400px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1em;
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 2%;
left: 8%;
}

.loadingSpinner div{
  width:100px;
  height:100px;
  margin-top:1em;
  margin-left:auto;
  margin-right:auto;
}


.chat-window p {
  margin: 0;
  width: 100%;
  text-align: right;
}

.chat-window .chat-body {
  height: 100%;

  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding-bottom: 10px;
}

.image-chat-agent {
  margin-right: 1em;
  float: left;
  width: 4em;
  height:4em;
  border-radius: 100%;
  border: 2px solid red;
  margin-bottom:2em;
}

.image-chat-user-user {
  margin-left:auto;
  margin-right:auto;
  display:block;
  width: 100px;
  height:100px;
  top: 5em;
  border-radius: 100%;
  object-fit: cover;
  offset-anchor: left;
}

.chat-window .chat-body .message .message-content-agent {
  width: auto;
  height: auto;
  min-height: 6em;
  max-width: 100%;
  border-radius: 5px;
  color: #777777;
  align-items: right;
  padding: 1em;
  overflow-wrap: break-word;
  word-break: break-word;
  offset-anchor: right;
  vertical-align: middle;

}

.chat-window .chat-body .message .message-content-user {
  min-height: 6em;

  max-width: 100%;
  border-radius: 5px;
  color: #777777;
  align-items: left;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
  offset-anchor: left;
  text-align: right;
}

.chat-window .chat-body .message > div {
width:100%;
min-width:100%;
}


#you {
  justify-content: flex-end;
  width:100%;
}

#you .message-content {
  justify-content: flex-end;
}

#you .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

#other {
  justify-content: flex-start;
}

#other .message-content {
  justify-content: flex-start;
}

#other .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  flex-direction: column;
  text-align: center;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.chat-window .chat-footer input {
  width: 30em;
  height: 1em;
  border: 2px solid #ccc;
  border-radius: 2em;
  padding: 1em;
  font-size: 16px;
  text-align: left;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
}

.chat-window .chat-footer button {
  width: 1.5em;
  height: 1.5em;
  border: none;
  padding: 0;
  background-color: rgba(0,0,0,0);
  background-image: url("./ArrowRight.svg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  position:relative;
  left:-2.25em;
}

.hide {
  opacity: 0 !important;
}
