.ChatWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 100;
}

.chat-window {
  position: relative;
  width: 80%;
  height: 80vh;
  border-radius: 1em;
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 2%;
  margin: auto;
  flex-direction: column;
  display: flex;
}

.chat-window .chat-title {
  display: flex;
  width: 100%;
  position: relative;
  height: 3em;
}

.chat-window .chat-title .chat-back {
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  cursor: pointer;
}

.chat-window .chat-title .chat-back:hover {
  opacity: 0.5;
}

.chat-window .chat-title .chat-talking-to {
  margin: auto;
  text-align: center;
}

.chat-window p {
  margin: 0;
  width: 100%;
  text-align: right;
}


.chat-body {
  height: calc(100% - 8em);
  min-height: calc(100% - 8em);
}

.chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-body .message-container::-webkit-scrollbar {
  display: none;
}

.chat-body .message {
  width: calc(100% - 1em);
  height: auto;
  padding-bottom: 10px;
}

.image-chat {
  width: 4em;
  height: 4em;
  min-width: 4em;
  min-height: 4em;
  border-radius: 100%;
}

.message-content-agent .image-chat {
  border: 2px solid red;
  margin-right: 1em;
}

.message-content-user .image-chat {
  object-fit: cover;
  margin-left: 1em;
}

.chat-window .chat-body .message .message-content-agent {
  display: flex;
  width: calc(100% - 4em);
  height: auto;
  min-height: 6em;
  color: #777777;
  overflow-wrap: break-word;
  word-break: break-word;
  text-align: left;
}

.chat-window .chat-body .message .message-content-user {
  display: flex;
  width: calc(100% - 4em);
  height: auto;
  min-height: 6em;
  color: #777777;
  overflow-wrap: break-word;
  word-break: break-word;
  text-align: right;
}

.message-text {
  width: auto;
  flex-grow: 2;
}

.chat-window .chat-body .message>div {
  width: calc(100% - 1em);
  width: 100%;
  min-width: 100%;
}

.chat-window .chat-footer {
  flex-direction: column;
  height: 5em;
  display: flex;
  justify-content: flex-end;
}