body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.flex-container {
  margin: 0.5em;
  width: calc(100% - 2em);
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  display: flex;
  margin: 0.5em;
}

.form-item {
  margin: 2em;
  min-width: 80%;
}

.form-item-label {
  display: block;
  margin-bottom: 0.5em;
}

.form-text-area {
  width: 100%;
}
